/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 110px;
  width: 110px;
}
